  swagger: '2.0'
  info:
    title: Authorize.Net REST API
    description: Authorize.Net REST API
    version: '1.0'
    contact:
      name: developer_feedback@authorize.net
  host: api.authorize.net
  schemes:
    - https
  securityDefinitions:
    basic:
      type: basic
    oauth:
      type: oauth2
      flow: implicit
      authorizationUrl: 'https://account.authorize.net/oauth/authorize'
      scopes:
        read: List and view details
        write: 'Create, list, and view details'
  paths:
    /v1/customers:
      post:
        tags:
          - customers-profiles
        summary: Create A Customer Profile
        description: Create a new customer profile that contains a payment method.
        operationId: CreateCustomerAndPaymentMethod
        consumes:
          - application/json
        produces:
          - application/json
        security:
          - oauth:
              - write
          - basic: []
        x-example:
          create-customer-example1:
            summary: Create Customer
            value:
              description: Test Customer1300
              identifier:
                email: cus1300@authorize.com
                reference: Customer1300
        parameters:
          - name: CreateCustomerAndPaymentMethod
            in: body
            description: Contains the information required to create a customer profile with an asociated payment method.
            required: true
            schema:
              $ref: '#/definitions/CreateCustomerAndPaymentMethod'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/Customer'
            x-example:
              create-customer-response1:
                summary: Create Customer Response
                value:
                  id: '40198318'
                  description: Test Customer1300
                  identifier:
                    email: cus1300@authorize.com
                    reference: Customer1300
                  _links:
                    self:
                      href: /rest/v1/customers/40198318
                      method: GET
                    paymentMethods:
                      href: /rest/v1/customers/40198318/paymentMethods
                      method: GET
                    addresses:
                      href: /rest/v1/customers/40198318/addresses
                      method: GET
      get:
        tags:
          - customers-profiles
        summary: Get All Customer Profiles
        description: Get a list of all customer profiles associated with this Authorize.Net account.
        operationId: getAllCustomers
        produces:
          - application/json
        security:
          - oauth:
              - read
          - basic: []
        parameters:
          - name: offset
            in: query
            type: integer
            required: false
            description: 'The number of the page to return results from. For example, if limit is set to 100, and offset is set to 2, the function will return 100 transactions, beginning with the transaction that would otherwise be the transaction numbered 101 in the result set. Accepted values are 1-100000.'
          - name: limit
            in: query
            type: integer
            required: false
            description: The number of transactions per page. Accepted values are 1-1000.
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/CustomerCollection'
            x-example: {}
    '/v1/customers/{customerId}/addresses':
      post:
        tags:
          - customers-addresses
        summary: Create A Customer Address
        description: Create an address associated with a customer profile.
        operationId: createCustomerAddress
        consumes:
          - application/json
        produces:
          - application/json
        security:
          - oauth:
              - write
          - basic: []
        x-example:
          add-customer-address-example1:
            summary: Add Customer Address
            value:
              address1: 10 Ave 10 St.
              administrativeArea: WA
              company: Net
              country: US
              firstName: jim
              lastName: carry
              locality: Redmond
              phoneNumber: 425 555 6666
              postalCode: '98052'
        parameters:
          - name: customerId
            in: path
            type: string
            description: 'Unique identifier of the customer profile, which was returned in the original transaction response.'
            required: true
          - name: createCustomerAddress
            in: body
            description: Contains address information.
            required: true
            schema:
              $ref: '#/definitions/CreateCustomerAddress'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/address'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
      get:
        tags:
          - customers-addresses
        summary: Get All Customer Addresses
        description: Get a list of all addresses associated with one customer profile.
        operationId: getAllCustomerAddresses
        security:
          - oauth:
              - read
          - basic: []
        parameters:
          - name: customerId
            in: path
            type: string
            description: 'Unique identifier of the customer profile, from the original profile creation response.'
            required: true
          - name: offset
            in: query
            type: integer
            required: false
            description: 'The number of the page to return results from. For example, if limit is set to 100, and offset is set to 2, the function will return 100 transactions starting with the transaction that would otherwise be the transaction numbered 101 in the result set. Accepted values are 1-100000.'
          - name: limit
            in: query
            type: integer
            required: false
            description: The number of transactions per page. Accepted values are 1-1000.
        produces:
          - application/json
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/addressCollection'
            x-example: {}
    '/v1/customers/{customerId}/paymentmethods':
      post:
        tags:
          - customers-payment_methods
        summary: Create A Payment Method
        description: Create and payment method associated with a customer profile.
        operationId: createPaymentMethod
        consumes:
          - application/json
        produces:
          - application/json
        security:
          - oauth:
              - write
          - basic: []
        x-example:
          create-paymentmethod-example1:
            summary: Create Payment Method
            value:
              billTo:
                address1: 10 Ave 10 St.
                administrativeArea: WA
                company: Net
                country: US
                firstName: jim
                lastName: carry
                locality: Redmond
                phoneNumber: 425 555 6666
                postalCode: '98052'
              paymentInstrument:
                creditCard:
                  cardNumber: '41XXXXXXXXXXXXX'
                  expirationDate: 2020-12
          create-paymentmethod-example2:
            summary: Create and validate Payment Method
            value:
              billTo:
                address1: 11 Ave 11 St.
                administrativeArea: WA
                company: Net
                country: US
                firstName: east
                lastName: wood
                locality: Kirkland
                phoneNumber: 425 555 6666
                postalCode: '98007'
              paymentInstrument:
                creditCard:
                  cardNumber: '41XXXXXXXXXXXXX'
                  expirationDate: 2019-10
                validate: 'true'
        parameters:
          - name: customerId
            in: path
            type: string
            description: 'Unique identifier of the customer profile, from the original profile-creation response.'
            required: true
          - name: CreatePaymentMethod
            in: body
            description: This object creates a payment method associated with a payment profile.
            required: true
            schema:
              $ref: '#/definitions/CreatePaymentMethod'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/paymentMethod'
            x-example: {}
          '404':
            description: PaymentMethod not created
            schema:
              $ref: '#/definitions/errorResponse'
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
      get:
        tags:
          - customers-payment_methods
        summary: Get Customer Payment Methods
        description: Get a list of payment methods associated with a customer profile.
        operationId: getCustomerPaymentMethods
        security:
          - oauth:
              - write
          - basic: []
        x-example:
          getall-payment-methods-example1:
            summary: Get All Payment Methods Example1
            value:
              billTo:
                address1: 11 Ave 10 St.
                administrativeArea: WA
                company: Net
                country: US
                firstName: jim
                lastName: carry
                locality: Redmond
                phoneNumber: 425-555-6666
                postalCode: '98052'
              payment:
                creditCard:
                  cardNumber: '41XXXXXXXXXXXXX'
                  expirationDate: 2020-12
                validate: 'true'
        parameters:
          - name: customerId
            in: path
            type: string
            description: 'Unique identifier of the customer profile, returned in the response to the request that created the profile.'
            required: true
          - name: offset
            in: query
            type: integer
            required: false
            description: 'The number of the page to return results from. For example, if limit is set to 100, and offset is set to 2, the function will return 100 transactions starting with the transaction that would otherwise be the transaction numbered 101 in the result set. Accepted values are 1-100000.'
          - name: limit
            in: query
            type: integer
            required: false
            description: The number of transactions per page. Accepted values are 1-1000.
        produces:
          - application/json
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/paymentMethodCollection'
            x-example: {}
    '/v1/customers/{customerId}':
      get:
        tags:
          - customers-customers
        summary: Get A Customer
        description: Get the details of a single customer profile.
        operationId: getCustomer
        security:
          - oauth:
              - read
          - basic: []
        produces:
          - application/json
        parameters:
          - name: customerId
            in: path
            type: string
            description: 'Unique identifier of the customer profile, from the original profile-creation response.'
            required: true
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/Customer'
            x-example: {}
      delete:
        tags:
          - customers-customers
        summary: Delete a Customer Profile
        operationId: DeleteCustomer
        description: Deletes a customer profile.
        security:
          - oauth:
              - write
          - basic: []
        x-example:
          delete-customer-example1:
            summary: Delete Customer Example1
            value:
              description: Updated Test Customer100
              identifier:
                email: cus100@authorize.com
                reference: Customer100
        parameters:
          - name: customerId
            in: path
            type: string
            description: 'Unique identifier of the customer profile, from the original profile-creation response.'
            required: true
        produces:
          - application/json
        responses:
          '200':
            description: OK
            x-example: {}
      put:
        tags:
          - customers-customers
        summary: Update A Customer Profile
        description: Updates a customer profile.
        operationId: UpdateCustomer
        security:
          - oauth:
              - write
          - basic: []
        x-example:
          update-customer-example1:
            summary: Update Customer
            value:
              description: Updated Test Customer100
              identifier:
                email: cus100@authorize.com
                reference: Customer100
        consumes:
          - application/json
        produces:
          - application/json
        parameters:
          - name: customerId
            in: path
            type: string
            description: 'Unique identifier of the customer profile, from the original profile-creation response.'
            required: true
          - name: CreateCustomerAndPaymentMethod
            in: body
            description: Contains the updated information.
            required: true
            schema:
              $ref: '#/definitions/CreateCustomerAndPaymentMethod'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/Customer'
            x-example: {}
          '404':
            description: Customer not updated
            schema:
              $ref: '#/definitions/errorResponse'
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    '/v1/customers/{customerId}/addresses/{addressId}':
      get:
        tags:
          - customers-addresses
        summary: Get A Customer Address
        description: Get a customer address.
        operationId: getCustomerAddress
        security:
          - oauth:
              - read
          - basic: []
        parameters:
          - name: customerId
            in: path
            type: string
            description: Unique identifier of the customer profile.
            required: true
          - name: addressId
            in: path
            type: string
            description: Unique identifier of the address.
            required: true
        produces:
          - application/json
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/address'
            x-example: {}
      delete:
        tags:
          - customers-addresses
        summary: Delete a Customer Address
        operationId: DeleteAddress
        description: Deletes an address associated with a customer profile.
        security:
          - oauth:
              - write
          - basic: []
        x-example:
          delete-customer-address-example1:
            summary: Delete Customer Address
            value:
              address1: 10 Ave 10 St.
              administrativeArea: WA
              company: Net
              country: US
              firstName: jim
              lastName: carry
              locality: Redmond
              phoneNumber: 425 555 6666
              postalCode: '98052'
        parameters:
          - name: customerId
            in: path
            type: string
            description: Unique identifier of the customer profile.
            required: true
          - name: addressId
            in: path
            type: string
            description: Unique identifier of the address.
            required: true
        produces:
          - application/json
        responses:
          '200':
            description: OK
            x-example: {}
      put:
        tags:
          - customers-addresses
        summary: Update A Customer Address
        description: Update an address associated with a customer profile.
        operationId: updateCustomerAddress
        security:
          - oauth:
              - write
          - basic: []
        x-example:
          update-customer-address-example1:
            summary: Update Customer Address
            value:
              address1: 11 Ave 10 St.
              administrativeArea: WA
              company: Net
              country: US
              firstName: jim
              lastName: carry
              locality: Redmond
              phoneNumber: 425 555 6666
              postalCode: '98052'
        consumes:
          - application/json
        produces:
          - application/json
        parameters:
          - name: customerId
            in: path
            type: string
            description: Unique identifier of the customer profile.
            required: true
          - name: addressId
            in: path
            type: string
            description: Unique identifier of the address.
            required: true
          - name: createCustomerAddress
            in: body
            description: Contains the address information.
            required: true
            schema:
              $ref: '#/definitions/CreateCustomerAddress'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/address'
            x-example: {}
          '404':
            description: Address not updated
            schema:
              $ref: '#/definitions/errorResponse'
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    '/v1/customers/{customerId}/paymentmethods/{paymentMethodId}':
      get:
        tags:
          - customers-payment_methods
        summary: Get a Customer Payment Method
        description: Get the payment method for a sinlge customer profile.
        operationId: getCustomerPaymentMethod
        security:
          - oauth:
              - read
          - basic: []
        x-example:
          get-customer-paymentmethod-example1:
            summary: Get Customer Payment Method Example1
            value:
              billTo:
                address1: 11 Ave 10 St.
                administrativeArea: WA
                company: Net
                country: US
                firstName: jim
                lastName: carry
                locality: Redmond
                phoneNumber: 425 555 6666
                postalCode: '98052'
              payment:
                creditCard:
                  cardNumber: '41XXXXXXXXXXXXX'
                  expirationDate: 2020-12
                validate: 'true'
        parameters:
          - name: customerId
            in: path
            type: string
            description: Unique identifier of the customer profile.
            required: true
          - name: paymentMethodId
            in: path
            type: string
            description: Unique identifier of the payment method.
            required: true
        produces:
          - application/json
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/paymentMethod'
            x-example: {}
      delete:
        tags:
          - customers-payment_methods
        summary: Delete a Customer Payment Method
        operationId: DeletePaymentmethod
        description: Deletes a payment method from a payment profile.
        security:
          - oauth:
              - write
          - basic: []
        parameters:
          - name: customerId
            in: path
            type: string
            description: Unique identifier of the customer profile.
            required: true
          - name: paymentMethodId
            in: path
            type: string
            description: Unique identifier of the payment method.
            required: true
        produces:
          - application/json
        responses:
          '200':
            description: OK
            x-example: {}
      put:
        tags:
          - customers-payment_methods
        summary: Update a Customer Payment Method
        description: Update a payment method associated with a payment profile.
        operationId: UpdatePaymentMethod
        security:
          - oauth:
              - write
          - basic: []
        consumes:
          - application/json
        produces:
          - application/json
        parameters:
          - name: customerId
            in: path
            type: string
            description: Unique identifier of the customer profile.
            required: true
          - name: paymentMethodId
            in: path
            type: string
            description: Unique identifier of the payment method.
            required: true
          - name: createPaymentMethod
            in: body
            description: Contains the updated payment method information.
            required: true
            schema:
              $ref: '#/definitions/CreatePaymentMethod'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/paymentMethod'
            x-example: {}
          '404':
            description: Payment Method not updated
            schema:
              $ref: '#/definitions/errorResponse'
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/payments/:
      get:
        tags:
          - payments-payments
        summary: Get a List of Payments
        description: Get a list of payment transactions.
        operationId: Get all Payments_
        produces:
          - application/json
        security:
          - oauth:
              - read
          - basic: []
        parameters:
          - name: offset
            in: query
            type: integer
            required: false
            description: '1-100000. The number of the page to return results from. For example, if limit is set to 100, and offset is set to 2, the function will return 100 transactions starting with the transaction that would otherwise be the transaction numbered 101 in the result set.'
          - name: limit
            in: query
            type: integer
            required: false
            description: 1-1000. The number of transactions per page.
          - name: batchId
            in: query
            type: string
            required: false
          - name: customerId
            in: query
            type: string
            required: false
          - name: unsettled
            in: query
            type: boolean
            required: false
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/paymentCollection'
            x-example:
              get-payment-example1:
                summary: Get All payments
                value:
                  _link:
                    self:
                      href: /rest/v1/payments?offset=0&limit=2
                      method: GET
                    next:
                      href: /rest/v1/payments?offset=2&limit=2
                      method: GET
                  _embedded:
                    payments:
                      - id: '2151095715'
                        submitTimeUTC: '0001-01-01T00:00:00Z'
                        status: SETTLED
                        _links:
                          self:
                            href: /rest/v1/payments/2151095715
                            method: GET
                      - id: '2148703924'
                        submitTimeUTC: '2012-12-29T04:19:34Z'
                        status: SETTLED
                        _links:
                          self:
                            href: /rest/v1/payments/2148703924
                            method: GET
                  totalTransactions: 126480
      post:
        tags:
          - payments-payments
        summary: Create a Payment Transaction
        description: 'Create a payment transaction. By default, this operation **authorizes and captures** the transaction. To only **authorize** it, set `paymentRequest.processingInformation.capture` to `false`.'
        operationId: createPayment
        security:
          - oauth:
              - write
          - basic: []
        x-example:
          create-payment-example1:
            summary: Charge using Credit Card
            value:
              clientReferenceInformation:
                code: C4454
              processingInformation:
                capture: true
                paymentSolution: PS1
                recurringBilling: false
              paymentInformation:
                card:
                  number: '41XXXXXXXXXXXXX'
                  expirationMonth: '12'
                  expirationYear: '2019'
                  type: Visa
                  securityCode: '123'
              orderInformation:
                amountDetails:
                  totalAmount: '14.35'
                  currency: USD
                  dutyAmount: '0.01'
                  taxAmount: '0.02'
                  freightAmount: '0.03'
                billTo:
                  address1: 123 Main St
                  administrativeArea: Lehi
                  company: Main Company
                  country: USA
                  firstName: Emily
                  lastName: Porter
                  locality: Locality
                  phoneNumber: 673-234-3454
                  postalCode: '51041'
                shipTo:
                  address1: 123 Little St
                  administrativeArea: Kansas
                  company: Main Company
                  country: USA
                  firstName: Emily
                  lastName: Smith
                  locality: Porter
                  phoneNumber: 673-234-3454
                  postalCode: '51041'
                lineItems:
                  - productCode: PCode
                    productName: Coffee
                    quantity: 1
                    unitPrice: '0.30'
                invoiceDetails:
                  purchaseOrderNumber: PO-456378
                  taxable: false
                description: Office Goods Invoice
          create-payment-example2:
            summary: Authorize Using Credit Card
            value:
              clientReferenceInformation:
                code: '1234'
              processingInformation:
                capture: false
                paymentSolution: string
                recurringBilling: false
              paymentInformation:
                card:
                  number: '41XXXXXXXXXXXXX'
                  expirationMonth: '12'
                  expirationYear: '2022'
                  type: Visa
                  securityCode: '123'
                validate: true
              orderInformation:
                amountDetails:
                  totalAmount: '11.35'
                  currency: USD
                  dutyAmount: '0.01'
                  taxAmount: '0.02'
                  freightAmount: '0.03'
                billTo:
                  address1: 123 Main St
                  administrativeArea: Lehi
                  company: Main Company
                  country: USA
                  firstName: John
                  lastName: Smith
                  locality: Locality
                  phoneNumber: 123-234-3454
                  postalCode: '78045'
                shipTo:
                  address1: 123 Main St
                  administrativeArea: Lehi
                  company: Main Company
                  country: USA
                  firstName: John
                  lastName: Smith
                  locality: Locality
                  phoneNumber: 123-234-3454
                  postalCode: '78045'
                lineItems:
                  - productCode: PCode1
                    productName: Green Keychains
                    quantity: 1
                    unitPrice: '0.30'
                invoiceDetails:
                  purchaseOrderNumber: PO-456378
                  taxable: true
                description: KeyChains Invoice
          create-payment-example3:
            summary: Auth Capture using Bank Account
            value:
              processingInformation:
                capture: true
              paymentInformation:
                bankAccount:
                  accountType: Checking
                  routingNumber: 'XXXXXX'
                  accountNumber: '123XXXXXXXXXXXX456'
                  nameOnAccount: string
                  eCheckType: PPD
                  bankName: string
                  checkNumber: string
              orderInformation:
                amountDetails:
                  totalAmount: '9.2'
                  dutyAmount: 01.00
                  taxAmount: 03.00
                billTo:
                  address1: ewwe
                  administrativeArea: TX
                  company: Souveniropolis
                  country: USA
                  firstName: Ellen
                  lastName: Johnson
                  locality: Pecan Springs
                  postalCode: '44628'
                shipTo:
                  address1: ewwe
                  administrativeArea: TX
                  company: Souveniropolis
                  country: USA
                  firstName: Ellen
                  lastName: Johnson
                  locality: Pecan Springs
                  postalCode: '44628'
                invoiceDetails:
                  purchaseOrderNumber: INV-12347
          create-payment-example4:
            summary: Auth Capture using customer profile
            value:
              processingInformation:
                capture: true
              paymentInformation:
                customer:
                  customerId: '40195947'
                  paymentMethodId: '40212792'
              orderInformation:
                amountDetails:
                  totalAmount: '11.33'
                  currency: USD
                  dutyAmount: '0.13'
                  taxAmount: '2.30'
                  freightAmount: '1.21'
                lineItems:
                  - productCode: CodePC1
                    productName: NamePD2
                    quantity: 1
                    unitPrice: '1'
                invoiceDetails:
                  purchaseOrderNumber: PO-2231
                  taxable: false
                description: Payment Using Customer Profile
          create-payment-example5:
            summary: Auth Capture using tokenized credit card
            value:
              clientReferenceInformation:
                code: C4454
              processingInformation:
                capture: true
                paymentSolution: PS1
                recurringBilling: false
              paymentInformation:
                tokenizedCard:
                  number: 'XXXXXXXXXXXXXXXXX'
                  expirationMonth: '04'
                  expirationYear: '2019'
                  cryptogram: ODA4LjAx
              orderInformation:
                amountDetails:
                  totalAmount: '14.35'
                  currency: USD
                  dutyAmount: '0.01'
                  taxAmount: '0.02'
                  freightAmount: '0.03'
                billTo:
                  address1: 123 Main St
                  administrativeArea: Lehi
                  company: Main Company
                  country: USA
                  firstName: Emily
                  lastName: Porter
                  locality: Locality
                  phoneNumber: 673-234-3454
                  postalCode: '51041'
                shipTo:
                  address1: 123 Little St
                  administrativeArea: Kansas
                  company: Main Company
                  country: USA
                  firstName: Emily
                  lastName: Smith
                  locality: Porter
                  phoneNumber: 673-234-3454
                  postalCode: '51041'
                lineItems:
                  - productCode: PCode
                    productName: Coffee
                    quantity: 1
                    unitPrice: '0.30'
                invoiceDetails:
                  purchaseOrderNumber: PO-111378
                  taxable: false
                description: Office Goods Invoice
          create-payment-example6:
            summary: Auth Capture using fluid data
            value:
              clientReferenceInformation:
                code: C44014
              processingInformation:
                capture: true
                paymentSolution: PS11
                recurringBilling: false
              paymentInformation:
                fluidData:
                  key: null
                  descriptor: COMMON.ACCEPT.INAPP.PAYMENT
                  value: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
              orderInformation:
                amountDetails:
                  totalAmount: '17.35'
                  currency: USD
                  dutyAmount: '0.01'
                  taxAmount: '0.02'
                  freightAmount: '0.03'
                billTo:
                  address1: 123 Main St
                  administrativeArea: Lehi
                  company: Main Company
                  country: USA
                  firstName: Emily
                  lastName: Porter
                  locality: Locality
                  phoneNumber: 673-234-3454
                  postalCode: '51041'
                shipTo:
                  address1: 123 Little St
                  administrativeArea: Kansas
                  company: Main Company
                  country: USA
                  firstName: Emily
                  lastName: Smith
                  locality: Porter
                  phoneNumber: 673-234-3454
                  postalCode: '51041'
                lineItems:
                  - productCode: PCode
                    productName: Coffee
                    quantity: 1
                    unitPrice: '0.30'
                invoiceDetails:
                  purchaseOrderNumber: PO-450078
                  taxable: false
                description: Book Store Invoice
        parameters:
          - name: PaymentRequest
            in: body
            required: true
            schema:
              $ref: '#/definitions/paymentRequest'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/payment'
            x-example:
              create-payment-response1:
                summary: Charge using Credit Card Response
                value:
                  _links:
                    self:
                      href: /rest/v1/payments/2156607907
                      method: GET
                    refund:
                      href: /rest/v1/payments/2156607907/refunds
                      method: POST
                  id: '2156607907'
                  status: CAPTURED
                  clientReferenceInformation:
                    code: C4454
                  processorInformation:
                    approvalCode: Z58NBF
                    avs:
                      code: 'Y'
                  submitTimeUTC: '2018-08-21T22:11:56Z'
                  orderInformation:
                    amountDetails:
                      totalAmount: '14.35'
                      currency: USD
                      dutyAmount: '0.01'
                      taxAmount: '0.02'
                      freightAmount: '0.03'
                      authorizedAmount: '14.35'
                    billTo:
                      address1: 123 Main St
                      administrativeArea: Lehi
                      company: Main Company
                      country: USA
                      firstName: Emily
                      lastName: Porter
                      locality: Locality
                      postalCode: '51041'
                    shipTo:
                      address1: 123 Little St
                      administrativeArea: Kansas
                      company: Main Company
                      country: USA
                      firstName: Emily
                      lastName: Smith
                      locality: Porter
                      postalCode: '51041'
                    lineItems:
                      - productCode: PCode
                        productName: Coffee
                        quantity: 1
                        unitPrice: '0.30'
                    invoiceDetails:
                      purchaseOrderNumber: PO-456378
                    description: Office Goods Invoice
                  paymentInformation:
                    card:
                      number: XXXX1111
                      expirationMonth: XX
                      expirationYear: XXXX
                      type: Visa
          '500':
            description: Internal Server Error
            schema:
              $ref: '#/definitions/errorResponse'
    '/v1/payments/{paymentId}':
      get:
        tags:
          - payments-payments
        summary: Get the Details of a Payment Transaction
        description: Get the details of a payment transaction.
        operationId: getPayment
        security:
          - oauth:
              - read
          - basic: []
        parameters:
          - name: paymentId
            in: path
            type: string
            required: true
            description: The unique identifier of the payment. Returned in the original transaction response.
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/payment'
            x-example: {}
          '404':
            description: Payment Not Found
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: Internal Server Error
            schema:
              $ref: '#/definitions/errorResponse'
    '/v1/payments/{paymentId}/captures':
      post:
        tags:
          - payments-captures
        summary: Cature a Payment Transaction
        description: Capture an authorization that was processed through Authorize.Net.
        operationId: capturePayment
        security:
          - oauth:
              - write
          - basic: []
        x-example:
          capture-payment-example1:
            summary: Capture a previously authorized amount
            value:
              orderInformation:
                amountDetails:
                  totalAmount: '11.35'
                  currency: USD
                  dutyAmount: '0.01'
                  taxAmount: '0.02'
                  freightAmount: '0.03'
                billTo:
                  address1: 123 Main St
                  administrativeArea: Lehi
                  company: Main Company
                  country: USA
                  firstName: John
                  lastName: Smith
                  locality: Locality
                  postalCode: '78045'
                shipTo:
                  address1: 123 Main St
                  administrativeArea: Lehi
                  company: Main Company
                  country: USA
                  firstName: John
                  lastName: Smith
                  locality: Locality
                  postalCode: '78045'
                lineItems:
                  - productCode: PCode1
                    productName: Green Keychains
                    quantity: 1
                    unitPrice: '0.30'
                invoiceDetails:
                  purchaseOrderNumber: PO-456378
                description: KeyChains Invoice
        parameters:
          - name: paymentId
            in: path
            type: string
            required: true
            description: The unique identifier of the authorization that you are capturing. The ID is returned in the original transaction response.
          - name: captureRequest
            in: body
            required: true
            schema:
              $ref: '#/definitions/captureRequest'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/payment'
            x-example: {}
          '404':
            description: Payment Not Found
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: Internal Server Error
            schema:
              $ref: '#/definitions/errorResponse'
    '/v1/payments/{paymentId}/refunds':
      post:
        tags:
          - payments-refunds
        summary: Refund a Payment Transaction
        description: 'Refund a previously captured payment transaction by referencing its ID. To credit your customer''s account without referencing a previous transaction, use `/credits` instead'
        operationId: refundPayment
        security:
          - oauth:
              - write
          - basic: []
        x-example:
          refund-payment-example1:
            summary: Refund using Bank Account
            value:
              paymentInformation:
                bankAccount:
                  accountType: BUSINESSCHECKING
                  routingNumber: 011301798
                  accountNumber: '0101'
                  nameOnAccount: John Doe
                  eCheckType: CCD
                  bankName: First Bank Of Authorize.Net
                  checkNumber: '1324453'
              orderInformation:
                amountDetails:
                  totalAmount: '6.00'
                  currency: USD
                  dutyAmount: '0.75'
                  taxAmount: '0.65'
                  freightAmount: '0.66'
        parameters:
          - name: paymentId
            in: path
            type: string
            required: true
            description: Unique identifier of the payment transaction that you are refunding. The ID is returned in the original transaction reponse.
          - name: refundRequest
            in: body
            required: true
            schema:
              $ref: '#/definitions/refundRequest'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/payment'
            x-example: {}
          '404':
            description: Payment Not Found
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: Internal Server Error
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/credits/:
      post:
        tags:
          - credits
        summary: Process a Credit Transaction
        description: 'Create a credit transaction that is not related to a previous transaction. To refund a previous transaction, use `/payments/{paymentId}/refunds` instead.'
        operationId: createCredit
        security:
          - oauth:
              - write
          - basic: []
        x-example:
          credit-example1:
            summary: Credits Request using CC
            value:
              paymentInformation:
                card:
                  number: 'XXXXXXXXXXXXXXXX'
                  expirationMonth: '07'
                  expirationYear: '2028'
              orderInformation:
                amountDetails:
                  totalAmount: '9.58'
                  currency: USD
        parameters:
          - name: Authorization
            in: header
            type: string
            required: true
            description: The value to provide in the Authorization header of ANET API request
          - name: creditRequest
            in: body
            required: true
            schema:
              $ref: '#/definitions/creditRequest'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/payment'
            x-example: {}
          '500':
            description: Internal Server Error
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/eventtypes:
      get:
        tags:
          - webhooks-event_types
        summary: Get a List of All Event Types
        description: Returns a list of all Webhooks event types that you can enroll in.
        operationId: getEventTypes
        security:
          - oauth:
              - read
          - basic: []
        responses:
          '200':
            description: OK
            schema:
              type: array
              items:
                $ref: '#/definitions/EventType'
            x-example: {}
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'
          default:
            description: Unexpected Error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/webhooks:
      get:
        tags:
          - webhooks-webhooks
        summary: List My Webhooks
        description: Retrieve details of all existing Webhooks for this account.
        operationId: getWebhooks
        security:
          - oauth:
              - read
          - basic: []
        responses:
          '200':
            description: OK
            schema:
              type: array
              items:
                $ref: '#/definitions/GetWebhookResponse'
            x-example: {}
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'
          default:
            description: Unexpected Error.
            schema:
              $ref: '#/definitions/errorResponse'
      post:
        tags:
          - webhooks-webhooks
        summary: Create A Webhook
        description: Enroll in one or more type of event notification.
        operationId: createWebhook
        security:
          - oauth:
              - read
          - basic: []
        x-example:
          create-webhook-example1:
            summary: Create Webhook
            value:
              url: 'http://requestb.in/1ierf8i1'
              eventTypes:
                - net.authorize.payment.authorization.created
                - net.authorize.payment.priorAuthCapture.created
                - net.authorize.payment.authcapture.created
              status: active
        parameters:
          - name: createWebhookBody
            in: body
            description: The payload which contains the details for enrolling in one or more webhooks.
            required: true
            schema:
              $ref: '#/definitions/CreateWebhookBody'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/GetWebhookResponse'
            x-example: {}
          '400':
            description: Invalid/Missing Data or Limit Reached
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'
          default:
            description: Unexpected Error.
            schema:
              $ref: '#/definitions/errorResponse'
    '/v1/webhooks/{webhookId}':
      get:
        tags:
          - webhooks-webhooks
        summary: Get a Webhook
        description: Retrieve THE details of an existing Webhook.
        operationId: getWebhook
        security:
          - oauth:
              - read
          - basic: []
        parameters:
          - name: webhookId
            in: path
            description: Unique identifier of the webhook. The identifier was sent in the response to the webhook request.
            required: true
            type: string
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/GetWebhookResponse'
            x-example: {}
          '404':
            description: Not Found
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'
          default:
            description: Unexpected Error.
            schema:
              $ref: '#/definitions/errorResponse'
      put:
        tags:
          - webhooks-webhooks
        summary: Update A Webhook
        description: Update the details of an existing webhook.
        operationId: updateWebhook
        security:
          - oauth:
              - read
          - basic: []
        x-example:
          update-webhook-example1:
            summary: Update Webhook
            value:
              status: inactive
              url: 'http://requestb.in/1msxl041'
              eventTypes:
                - net.authorize.payment.authorization.created
        parameters:
          - name: webhookId
            in: path
            description: Unique identifier of the webhook. The identifier was sent in the response to the webhook request.
            required: true
            type: string
          - name: updateWebhookBody
            in: body
            description: Contains the details to be updated.
            required: true
            schema:
              $ref: '#/definitions/CreateWebhookBody'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/GetWebhookResponse'
            x-example: {}
          '400':
            description: Invalid/Missing Data or Limit Reached
            schema:
              $ref: '#/definitions/errorResponse'
          '404':
            description: Not Found
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'
          default:
            description: Unexpected Error.
            schema:
              $ref: '#/definitions/errorResponse'
      delete:
        tags:
          - webhooks-webhooks
        summary: Delete A Webhook
        description: Delete an existing Webhook.
        operationId: deleteWebhook
        security:
          - oauth:
              - read
          - basic: []
        x-example:
          delete-webhook-example1:
            summary: Delete Webhook Example1
            value:
              eventType:
                - payment.authorization.created
                - payment.capture.created
              url: 'https://mysite/callback'
              status: active
        parameters:
          - name: webhookId
            in: path
            description: Unique identifier of the webhook. The identifier was sent in the response to the webhook request.
            required: true
            type: string
        responses:
          '200':
            description: OK
            x-example: {}
          '400':
            description: 'Invalid Data '
            schema:
              $ref: '#/definitions/errorResponse'
          '404':
            description: Not Found
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'
          default:
            description: Unexpected Error.
            schema:
              $ref: '#/definitions/errorResponse'
    '/v1/webhooks/{webhookId}/pings':
      post:
        tags:
          - webhooks-pings
        summary: Ping A Webhook
        description: 'A test event is sent to the Webhook endpoint, in an inactive state.'
        operationId: pingsWebhook
        security:
          - oauth:
              - read
          - basic: []
        parameters:
          - name: webhookId
            in: path
            description: Unique identifier of the webhook. The identifier was sent in the response to the webhook request.
            required: true
            type: string
        responses:
          '200':
            description: OK
            x-example: {}
          '404':
            description: Not Found
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'
          default:
            description: Unexpected Error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/notifications:
      parameters:
        - name: deliveryStatus
          in: query
          type: string
          description: Filter by delivery status. Status include the following./n/n* Delivered/n/n* Failed
        - name: from_date
          in: query
          type: string
          description: 'Only includes notifications after the specified date, in YYYY-MM-DD format.'
        - name: to_date
          in: query
          type: string
          description: 'Only includes notifications before specified date, in YYYY-MM-DD format.'
        - name: offset
          in: query
          type: integer
          description: 'The number of the page to return results from. For example, if limit is set to 100, and offset is set to 2, the function will return 100 transactions, beginning with the transaction that would otherwise be the transaction numbered 101 in the result set. Accepted values are 1-100000.'
        - name: limit
          in: query
          type: integer
          description: The number of transactions per page. Accepted values are 1-1000.
      get:
        tags:
          - webhooks-notifications
        summary: Get Notification History
        description: Retreives the history of notifications for this account.
        operationId: getNotifications
        security:
          - oauth:
              - read
          - basic: []
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/GetNotificationsResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'
          default:
            description: Unexpected Error.
            schema:
              $ref: '#/definitions/errorResponse'
    '/v1/notifications/{notificationsId}':
      get:
        tags:
          - webhooks-notifications
        summary: Get a Notification
        description: Retreives the details of a single notification.
        operationId: getNotification
        security:
          - oauth:
              - read
          - basic: []
        parameters:
          - name: notificationsId
            in: path
            description: Unique identifier of the notification. The identifier was sent in the original notification.
            required: true
            type: string
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/GetNotificationResponse'
          '404':
            description: Not Found
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'
          default:
            description: Unexpected Error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/paymentTransactions/chargeaCreditCard:
      post:
        tags:
          - paymentTransaction-transaction
        summary: Charge a Credit Card.
        description: Use this method to authorize and capture a credit card payment.
        operationId: createTransactionRequest
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
            - name: chargeaCreditCard
              in: body
              schema:
                $ref: '#/definitions/createTransactionRequestForChargeACreditCard'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/transaction'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/paymentTransactions/authorizeCreditCard: 
      post:
        tags:
          - paymentTransaction-transaction
        summary: Authorize a Credit Card.
        description: Use this method to authorize a credit card payment. To actually charge the funds you will need to follow up with a capture transaction.
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
            - name: authorizeCreditCard
              in: body
              schema:
                $ref: '#/definitions/createTransactionRequestForChargeACreditCard'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/chargeATokenizedCreditCardResponse'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'   
    /v1/paymentTransactions/capturePreviousAuthorizedAmount: 
     post:
        tags:
          - paymentTransaction-transaction
        summary: Capture Previous Authorized Amount.
        description: Use this method to capture funds reserved with a previous authOnlyTransaction transaction request.
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
            - name: createCapturePreviousAuthorizedAmount
              in: body
              schema:
                $ref: '#/definitions/createCapturePreviousAuthorizedAmount'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/transactionForPayments'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'          
    /v1/paymentTransactions/captureFundsAuthorizedThroughAnotherChannel:
     post:
        tags:
          - paymentTransaction-transaction
        summary: Capture Funds Authorized Through Another Channel.
        description: Use this method to capture funds which have been authorized through another channel, such as phone authorization. If you need to capture an authorizeOnlyTransaction, use priorAuthCaptureTransaction instead.
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
            - name: createCaptureFundsAuthorizedThroughAnotherChannel
              in: body
              schema:
                $ref: '#/definitions/createCaptureFundsAuthorizedThroughAnotherChannel'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/transactionForPayments'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/paymentTransactions/refundTransaction: 
     post:
        tags:
          - paymentTransaction-transaction
        summary: Refund A Transaction.
        description: This transaction type is used to refund a customer for a transaction that was successfully settled through the payment gateway. Note that credit card information and bank account information are mutually exclusive, so you should not submit both.
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
            - name: refundTransaction
              in: body
              schema:
                $ref: '#/definitions/createRefundTransaction'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/transactionForPayments'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/paymentTransactions/voidATransaction: 
     post:
        tags:
          - paymentTransaction-transaction
        summary: Void A Transaction.
        description: This transaction type can be used to cancel either an original transaction that is not yet settled or an entire order composed of more than one transaction. A Void prevents the transaction or the order from being sent for settlement. A Void can be submitted against any other transaction type
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
            - name: voidATransaction
              in: body
              schema:
                $ref: '#/definitions/createVoidTransaction'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/transactionForPayments'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/paymentTransactions/updateSplitTenderGroup:
     put:
        tags:
          - paymentTransaction-transaction
        summary: Update Split Tender Group.
        description: Use this function to update the status of an existing order that contains multiple transactions with the same splitTenderId value.
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
          - name: merchantAuthentication
            in: query
            type: string
            description: 'Contains merchant authentication information.'
            required: true
          - name: name
            in: query
            type: string
            description: 'Merchant’s unique API Login ID.'
            required: true
          - name: transactionKey
            in: query
            type: string
            description: 'Merchant’s unique Transaction Key.'
            required: true
          - name: refId
            in: query
            type: string
            description: 'Merchant-assigned reference ID for the request.'
            required: false
          - name: splitTenderId
            in: query
            type: string
            description: 'Payment gateway-assigned number associated with the order.'
            required: true
          - name: splitTenderStatus
            in: query
            type: string
            description: 'Indicates the status of all transactions associated with the order.'
            required: false  
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/updateSplitTenderGroupResponse'
            x-example: {}
          '404':
            description: Address not updated
            schema:
              $ref: '#/definitions/errorResponse'
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/paymentTransactions/debitABankAccount: 
      post:
        tags:
          - paymentTransaction-transaction
        summary: Debit A Bank Account.
        description: Use this method to process an ACH debit transaction using bank account details.
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
            - name: createDebitABankAccount
              in: body
              schema:
                $ref: '#/definitions/createDebitABankAccount'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/transactionForPayments'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/paymentTransactions/creditABankAccount: 
      post:
        tags:
          - paymentTransaction-transaction
        summary: Credit A Bank Account.
        description: This transaction type is used to refund a customer using a bank account credit transaction.
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
            - name: creditABankAccount
              in: body
              schema:
                $ref: '#/definitions/createCreditABankAccount'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/creditABankAccountResponse'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/paymentTransactions/chargeACustomerProfile: 
      post:
        tags:
          - paymentTransaction-transaction
        summary: charge a Customer Profile.
        description: Use this method to authorize and capture a payment using a stored customer payment profile.
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
            - name: ChargeACustomerProfile
              in: body
              schema:
                $ref: '#/definitions/chargeACustomerProfile'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/chargeACustomerProfileResponse'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse' 
    /v1/paymentTransactions/chargeATokenizedCreditCard:
      post:
        tags:
          - paymentTransaction-transaction
        summary: Charge A Tokenized Credit Card.
        description: Use this method to authorize and capture a payment using a tokenized credit card number issued by a certified token provider. The payment processor must support payment network tokenization, and you must pass in your request the token, the expiration date, and the cryptogram receied from the token provider.
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
            - name: chargeATokenizedCreditCard
              in: body
              schema:
                $ref: '#/definitions/chargeATokenizedCreditCard'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/chargeATokenizedCreditCardResponse'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/mobileInAppTransctions/createAnApplePayTransaction:
      post:
        tags:
          - mobileInAppTransactions
        summary: Create An Apple Pay Transaction.
        description: Use this function to create an Authorize.net payment transaction request using Apple Pay data in place of card data.
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
            - name: createAnApplePayTransaction
              in: body
              schema:
                $ref: '#/definitions/createTransactionRequestForAnApplePayTransaction'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/createMobileInAppTransactionResponce'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/mobileInAppTransctions/createAnGooglePayTransaction:
      post:
        tags:
          - mobileInAppTransactions
        summary: Create An Google Pay Transaction.
        description: Use this function to create an Authorize.net payment transaction request using Google Pay data in place of card data.
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
            - name: createAnGooglePayTransaction
              in: body
              schema:
                $ref: '#/definitions/createTransactionRequestForAnApplePayTransaction'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/createMobileInAppTransactionResponce'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/payPalExpressCheckout/authorizationOnly:
      post:
        tags:
          - payPalExpressCheckout
        summary: Authorization Only.
        description: An Authorization Only request notifies PayPal that an authorization has been initiated but does not complete the authorization. It returns a secure URL with a token appended to it. The purpose of this token is to identify the transaction when the customer is redirected to PayPal.
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
            - name: createAuthorizationOnlyTransaction
              in: body
              schema:
                $ref: '#/definitions/createAuthorizationOnlyTransaction'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/createPayPalAuthorizeOnlyTransactionResponce'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/payPalExpressCheckout/authorizationAndCapture:
      post:
        tags:
          - payPalExpressCheckout
        summary: Authorization And Capture.
        description: This type of transaction is the most common and is the default payment gateway transaction type. Like the Authorization Only request, it notifies PayPal that an Authorization and Capture transaction has been initiated, but does not complete the request. It also returns a secure URL with a token appended to it. The purpose of this token is to identify the transaction when the customer is redirected to PayPal.
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
            - name: createAuthorizationAndCaptureTransaction
              in: body
              schema:
                $ref: '#/definitions/createAuthorizationAndCaptureTransaction'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/createPayPalForAuthorizeAndCaptureTransactionResponc'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/payPalExpressCheckout/getDetails:
      get:
        tags:
          - payPalExpressCheckout
        summary: Get a Details.
        description: A Get Details transaction returns customer’s PayPal Payer ID and shipping information.
        operationId: getDetails
        security:
          - oauth:
              - read
          - basic: []
        parameters:
          - name: merchantAuthentication
            in: query
            type: string
            required: true
            description: 'Contains merchant authentication information.'
          - name: name
            in: query
            type: string
            required: true
            description: 'Merchant’s unique API Login ID.'
          - name: transactionKey
            in: query
            type: string
            required: true
            description: 'Merchant’s unique Transaction Key.'
          - name: refId
            in: query
            type: string
            required: false
            description: 'Merchant-assigned reference ID for the request.'
          - name: transactionRequest
            in: query
            type: string
            required: false
          - name: transactionType
            in: query
            type: string
            required: false
            description: 'Contains merchant authentication information.'
          - name: refTransId
            in: query
            type: string
            required: false
            description: 'The ID of the original transaction from which you are pulling the Payer ID and shipping information.'
        produces:
          - application/json
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/createGetDetailsResponce'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/payPalExpressCheckout/authorizationOnlyContinue:
      post:
        tags:
          - payPalExpressCheckout
        summary: Authorization Only Continue.
        description: This request, if successful, actually authorizes the transaction but does not capture it.
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
            - name: createAuthorizationOnlyContinueTransaction
              in: body
              schema:
                $ref: '#/definitions/createAuthorizationOnlyContinueTransaction'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/createGetDetailsResponce'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/payPalExpressCheckout/priorAuthorizationCapture:
      post:
        tags:
          - payPalExpressCheckout
        summary: Prior Authorization Capture.
        description: This transaction type is used to capture an Authorization Only, Continued transaction that was successfully authorized through the payment gateway.
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
            - name: createPriorAuthorizationCaptureTransaction
              in: body
              schema:
                $ref: '#/definitions/createPriorAuthorizationCaptureTransaction'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/createGetDetailsResponce'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/payPalExpressCheckout/authorizationAndCaptureContinue:
      post:
        tags:
          - payPalExpressCheckout
        summary: Authorization And Capture Continue.
        description: This request actually authorizes and captures the transaction.
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
            - name: createAuthorizationAndCaptureContinue
              in: body
              schema:
                $ref: '#/definitions/createAuthorizationAndCaptureContinue'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/createGetDetailsResponce'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse' 
    /v1/payPalExpressCheckout/void:
      post:
        tags:
          - payPalExpressCheckout
        summary: Void
        description: This transaction type can be used to cancel an authorization that has not yet been captured. Void can be used only in the following sequence- Authorization Only > Authorization Only, Continued > Void.
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
            - name: createVoidPayPalExpressCheckOutTransaction
              in: body
              schema:
                $ref: '#/definitions/createVoidPayPalExpressCheckOutTransaction'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/transactionForPayments'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/payPalExpressCheckout/credit:
      post:
        tags:
          - payPalExpressCheckout
        summary: Credit.
        description: This transaction type can be used to cancel an authorization that has not yet been captured. Void can be used only in the following sequence- Authorization Only > Authorization Only, Continued > Void.
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
            - name: createCreditTransaction
              in: body
              schema:
                $ref: '#/definitions/createCreditTransaction'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/creditResponce'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/fraudManagement/getHeldTransactionList:
      get:
        tags:
          - fraudManagement
        summary: Get Held Transaction List.
        description: Use this function to get data for suspicious transactions. The function will return data for up to 1000 of the most recent transactions in a single request. Paging options can be sent to limit the result set or to retrieve additional transactions beyond the 1000 transaction limit. You can add the sorting and paging options shown below to customize the result set.
        operationId: getHeldTransactionList
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
          - name: merchantAuthentication
            in: query
            type: string
            description: 'Contains merchant authentication information.'
            required: true
          - name: name
            in: query
            type: string
            description: 'Merchant’s unique API Login ID.'
            required: true  
          - name: transactionKey
            in: query
            type: string
            required: false
            description: 'Merchant’s unique Transaction Key.'
          - name: refId
            in: query
            type: string
            required: false
            description: 'Merchant-assigned reference ID for the request.'
          - name: status
            in: query
            type: string
            required: true
          - name: sorting
            in: query
            type: string
            description: 'Contains sorting information.'
            required: false  
          - name: orderBy
            in: query
            type: string
            required: false
            description: 'Order of transactions in response.'
          - name: orderDescending
            in: query
            type: boolean
            required: false
            description: 'Sort the transactions in descending order.' 
          - name: paging
            in: query
            type: string
            required: false
            description: 'Contains paging information.'  
          - name: limit
            in: query
            type: string
            required: false
            description: 'The number of transactions per page.' 
          - name: offset
            in: query
            type: string
            required: false
            description: 'The number of the page to return results from.'  
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/transactions'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/fraudManagement/approveOrDeclineHeldTransaction:
      post:
        tags:
          - fraudManagement
        summary: Approve Or Decline Held Transaction.
        description: Approve or Decline a held Transaction.
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
            - name: createApproveOrDeclineHeldTransaction
              in: body
              schema:
                $ref: '#/definitions/createApproveOrDeclineHeldTransaction'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/fraudManagementResponce'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/recurringBilling/createASubscription:
      post:
        tags:
          - recurringBilling
        summary: Recurring Billing.
        description: Recurring Billing API methods enable you to manage regular payment subscriptions.
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
            - name: createASubscription
              in: body
              schema:
                $ref: '#/definitions/createASubscription'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/createSubscriptionResponce'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/recurringBilling/createASubscriptionFromCustomerProfile:
      post:
        tags:
          - recurringBilling
        summary: Create a Subscription from Customer Profile.
        description: This request enables you to create a recurring billing subscription from an existing customer profile.
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
            - name: createASubscriptionFromCustomerProfile
              in: body
              schema:
                $ref: '#/definitions/createASubscriptionFromCustomerProfile'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/createASubscriptionFromCustomerProfileResponce'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/recurringBilling/getSubscription:
      get:
        tags:
          - recurringBilling
        summary: Get Subscription.
        description: Retrieves an existing ARB subscription.
        operationId: getSubscription
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
          - name: merchantAuthentication
            in: query
            type: string
            description: 'Contains merchant authentication information.'
            required: true
          - name: name
            in: query
            type: string
            description: 'Merchant’s unique API Login ID.'
            required: true  
          - name: transactionKey
            in: query
            type: integer
            required: true
            description: 'Merchant’s unique Transaction Key.'  
          - name: refId
            in: query
            type: string
            description: 'Merchant-assigned reference ID for the request.'
            required: false
          - name: subscriptionId
            in: query
            type: string
            description: 'The payment gateway-assigned identification number for the subscription.'
            required: true  
          - name: includeTransactions
            in: query
            type: integer
            required: false
            description: 'Indicates whether to include information about transactions for this subscription.'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/getSubscriptionResponce'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/recurringBilling/getSubscriptionStatus:
      get:
        tags:
          - recurringBilling
        summary: Get Subscription Status.
        description: Retrieves the status of an existing ARB subscription.
        operationId: getSubscriptionStatus
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
          - name: merchantAuthentication
            in: query
            type: string
            description: 'Contains merchant authentication information.'
            required: true
          - name: name
            in: query
            type: string
            description: 'Merchant’s unique API Login ID.'
            required: true  
          - name: transactionKey
            in: query
            type: integer
            required: true
            description: 'Merchant’s unique Transaction Key.'  
          - name: refId
            in: query
            type: string
            description: 'Merchant-assigned reference ID for the request.'
            required: false
          - name: subscriptionId
            in: query
            type: integer
            description: 'The payment gateway-assigned identification number for the subscription.'
            required: true
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/getSubscriptionStatusResponce'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/recurringBilling/updateSubscription:
      put:
        tags:
          - recurringBilling
        summary: Update A Customer Address
        description: Update an address associated with a customer profile.
        operationId: updateSubscription
        security:
          - oauth:
              - write
          - basic: []
        consumes:
          - application/json
        produces:
          - application/json
        parameters:
          - name: refId
            in: query
            type: string
            description: Unique identifier of the customer profile.
            required: true
          - name: subscriptionId
            in: query
            type: string
            description: Unique identifier of the address.
            required: true
          - name: updateSubscription
            in: body
            description: Contains the address information.
            required: true
            schema:
              $ref: '#/definitions/createSubscription'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/updateSubscriptionResponse'
            x-example: {}
          '404':
            description: Address not updated
            schema:
              $ref: '#/definitions/errorResponse'
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/recurringBilling/cancelSubscription:
      post:
        tags:
          - recurringBilling
        summary: Cancel Subscription.
        description: Cancels an existing subscription.
        produces:
            - application/json
        security:
            - oauth:
                - write
            - basic: []
        parameters:
            - name: createCancelSubscription
              in: body
              schema:
                $ref: '#/definitions/createCancelSubscription'
        responses:
          '200':
            description: OK
            schema:
              $ref: '#/definitions/createCancelSubscriptionResponce'
            x-example: {}
          '404':
            description: Address not created
            schema:
              $ref: '#/definitions/errorResponse'
          '500':
            description: System Error.
            schema:
              $ref: '#/definitions/errorResponse'    
          default:
            description: Unexpected error.
            schema:
              $ref: '#/definitions/errorResponse'
    /v1/recurringBilling/getAListOfSubscriptions:
      get:
        tags:
          - recurringBilling
[...]
