<?xml version="1.0" encoding="UTF-8"?>

<!-- 
################################################################################################################
	For information on how to change this configuration file, 
	refer to https://logging.apache.org/log4j/2.x/manual/configuration.html
	
	To enable masking of sensitive data, replace `%m` with `%maskedMessage` in the patterns below
################################################################################################################ 
-->

<Configuration status="FATAL">
	<Properties>
		<Property name="log-path">./logs</Property>
		<Property name="logFileName">net.authorize.java</Property>
	</Properties>
	<Appenders>
		<Console name="LogToConsole" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{MM/dd/yy HH:mm:ss,SS:} [%t] %5p (%C:%-1L) - %m%n"/>
		</Console>
		<RollingFile name="RollingFile"
			fileName="${log-path}/${logFileName}.log"
			filePattern="${log-path}/${logFileName}-%d{yyyy-MM-dd}-%i.log">
			<PatternLayout>
				<pattern>%d{MM/dd/yy HH:mm:ss,SS:} [%t] %5p (%C:%-1L) - %m%n</pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" modulate="true"/>
			</Policies>
			<DefaultRolloverStrategy max="4"/>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="net.authorize" level="fatal" additivity="true">
			<AppenderRef ref="LogToConsole" level="fatal" />
		</Logger>
		<Root level="fatal" additivity="true">
			<AppenderRef ref="RollingFile" />
		</Root>
	</Loggers>
</Configuration>